extends layout
block content
  .span3
    ul.nav.nav-list.room-list.affix.span3#room-list(ng-controller="RoomsCtrl")
      li(ng-repeat="room in rooms")
        a(href='#')
          i.icon-chevron-right
          | {{room.name}}

  .span9(ng-controller="MessagesCtrl")
    .messages#messages
      div(ng-repeat="message in messages", ng-switch, on="message.type")
        div(ng-switch-when="TextMessage").media.message
          a.pull-left(href="#")
            | <img class="media-object" src="http://www.gravatar.com/avatar/{{message.user.emailHash}}?s=32">
          .media-body
            h5.media-heading {{message.user.name}}
            p {{message.body}}

        div(ng-switch-when="EnterMessage").meta.enter-exit.enter
          {{message.user.name}} has entered the room.

        div(ng-switch-when="LeaveMessage").meta.enter-exit.exit
          {{message.user.name}} has left the room.

        div(ng-switch-when="KickMessage").meta.enter-exit.exit
          {{message.user.name}} has left the room.

        div(ng-switch-when="TimestampMessage").meta.timestamp
          | <time datetime="{{message.created_at}}">{{message.created_at}}</time>
