!!! 5
html(ng-app='marshmallow')
  head
    != js('http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js')
    meta(charset='utf-8')
    title Express CoffeeScript Template
    meta(name='description', content='')
    meta(name='author', content='')
    // Mobile Specific
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // CSS
    != css('//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css')
    != css('app')

  body
    .container
      .row
        block content

    != js('//cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.min.js')
    != js('//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    != js('//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js')
    != js('app')
